

    <body>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="~/Content/Style.css" rel="stylesheet" />
        <div class="card-container">
            <div class="upper-container">
                <div class="image-container">
                    <img src="~/Image/Customer.jpg" />
                </div>
            </div>
            <div class="lower-container">
                <div>
                    <h3>Matshidiso Qiba</h3>
                    <h4>217001247</h4>
                </div>
                <div>
                    <p>
                        Central University of Technology, Free State
                    </p>
                </div>
                <div>
                    <a href="#" class="btn">Customers System</a>
                </div>
            </div>
        </div>
    </body>